openapi: 3.0.3
info:
  title: Letterhead API
  description: |-
    Letterhead's API lets you build around your newsletters — your audience, your
    content, your sending, and your reporting.

    We release it with stability in mind, and we add to it regularly. If something looks wrong, or
    you need something that isn't here yet, [let us know](https://help.tryletterhead.com/kb-tickets/new).

    ## Authorization

    Every request needs a **Bearer token**. Administrators can
    [generate an API key](https://help.tryletterhead.com/api/managing-api-keys/) at any time from
    **Settings -> API Keys**, then send it in the `Authorization` header:

    ```
    Authorization: Bearer <your-api-key>
    ```

    Keys are company-scoped: one key reaches every newsletter in your account.

    Most read endpoints also expect `api=true` in the query string, which tells Letterhead you are
    authenticating with an API key rather than a signed-in session.
  version: 3.0.0
  contact:
    name: Letterhead Support
    url: https://help.tryletterhead.com/support/contact-support/
servers:
  - url: https://api.tryletterhead.com
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Contacts
    description: Contacts are your audience across your whole company — the people you send to, their
      subscriptions, tags, and how they engage.
    x-lastAudited: '2026-09-09'
    x-lastAuditedBy: docs-audit-loop
  - name: Segments
    description: Segments are saved groups of contacts you can target and report on.
    x-lastAudited: '2026-10-08'
    x-lastAuditedBy: docs-audit-loop
  - name: Letters
    description: A letter is a single edition of a newsletter. These endpoints let you draft, update,
      retrieve, and send them, and read how letters and subject lines performed.
    x-lastAudited: '2026-09-10'
    x-lastAuditedBy: docs-audit-loop
  - name: Curations
    description: Curations let you gather content from around the web and distribute it across one or
      more of your newsletters.
    x-lastAudited: '2026-09-05'
    x-lastAuditedBy: docs-audit-loop
  - name: Promotions
    description: Promotions are the paid placements you run inside your newsletters.
    x-lastAudited: '2026-09-07'
    x-lastAuditedBy: docs-audit-loop
  - name: Channels
    description: A channel is a single newsletter. Every subscriber, letter, and curation belongs to one.
    x-lastAudited: '2026-09-04'
    x-lastAuditedBy: docs-audit-loop
  - name: Metrics
    description: How your sending is performing — the totals and daily figures behind opens, clicks, bounces,
      and unsubscribes.
    x-lastAudited: '2026-09-08'
    x-lastAuditedBy: docs-audit-loop
  - name: Automations
    description: Automations send a sequence of emails on their own once someone qualifies for it. These
      endpoints let you change the template an automation uses and restart one that has stopped.
    x-lastAudited: '2026-09-06'
    x-lastAuditedBy: docs-audit-loop
  - name: Transactional Email
    description: Transactional emails are one-off messages to an individual, such as a password reset
      or a purchase confirmation. This service is available on request and needs a dedicated sending IP.
    x-lastAudited: '2026-09-30'
    x-lastAuditedBy: docs-audit-loop
  - name: Teams
    description: The people who have access to your Letterhead account, and the API for inviting,
      updating, and removing them.
    x-lastAudited: '2026-09-11'
    x-lastAuditedBy: docs-audit-loop
  - name: Agents
    description: Agents review a letter before it goes out and report what they find. Preflight agents
      are available today; Analyze agents may need to be enabled for your account — contact support if
      you don't see them.
    x-lastAudited: '2026-10-02'
    x-lastAuditedBy: docs-audit-loop
  - name: Links
    description: The links inside your letters and the categories they fall into. These endpoints are in development and not
      yet available.
    x-lastAudited: '2026-09-03'
    x-lastAuditedBy: docs-audit-loop
paths:
  /api/v3/contacts/overview:
    get:
      tags:
        - Contacts
      summary: Get a contacts overview
      description: |-
        Returns the summary banner rollup for your company-level audience: total subscriber count, total channel and newsletter-group counts, and a breakdown of your channels into three health buckets (`growing`, `stable`, `needsAttention`).

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getContactsOverview
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      totalSubscribers:
                        type: integer
                      totalChannels:
                        type: integer
                      totalGroups:
                        type: integer
                      health:
                        type: object
                        properties:
                          growing:
                            type: integer
                          stable:
                            type: integer
                          needsAttention:
                            type: integer
                      lastUpdated:
                        type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  totalSubscribers: 48213
                  totalChannels: 6
                  totalGroups: 2
                  health:
                    growing: 3
                    stable: 2
                    needsAttention: 1
                  lastUpdated: '2026-08-30T04:00:11+00:00'
                message: Contacts overview
                total: 1
  /api/v3/contacts/metrics/groups:
    get:
      tags:
        - Contacts
      summary: Get channel health grouped by newsletter group
      description: |-
        Returns a subscriber-health rollup for every one of your newsletters, grouped the same way your newsletter groups are organized. For each newsletter you get the current subscriber count, the net change over the last 30 days, a breakdown of your audience into five engagement segments (`loyalists`, `newAndEngaged`, `casual`, `fading`, `ghosts`) each with a percentage and a trend (`up`, `down`, or `stable`), and an overall health bucket (`growing`, `stable`, or `needsAttention`).

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getChannelHealthGroupedByNewsletterGroup
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      groups:
                        type: array
                        items:
                          type: object
                          properties:
                            group:
                              type: object
                              properties:
                                slug:
                                  type: string
                                name:
                                  type: string
                            totalSubscribers:
                              type: integer
                            channels:
                              type: array
                              items:
                                type: object
                                properties:
                                  channel:
                                    type: object
                                    properties:
                                      slug:
                                        type: string
                                      name:
                                        type: string
                                      latestLetterTitle:
                                        type: string
                                        description: Title of the channel's most recently created letter.
                                          Omitted for a channel with no letters yet.
                                  subscribers:
                                    type: integer
                                  netGrowth:
                                    type: integer
                                    description: Net change in subscribers over the last 30 days.
                                  segments:
                                    type: object
                                    description: One entry per engagement segment (`loyalists`, `newAndEngaged`,
                                      `casual`, `fading`, `ghosts`), each with a `percentage` and a `trend`
                                      (`up`, `down`, or `stable`).
                                    additionalProperties:
                                      type: object
                                      properties:
                                        percentage:
                                          type: integer
                                        trend:
                                          type: string
                                  health:
                                    type: string
                                    description: '`growing`, `stable`, or `needsAttention`.'
                                  senderHealth:
                                    type: object
                                    description: The channel's sender health score, when available.
                                    properties:
                                      score:
                                        type: integer
                                        nullable: true
                                      severity:
                                        type: string
                                      trend:
                                        type: string
                      lastUpdated:
                        type: string
                        nullable: true
                        description: When the underlying growth snapshot was last refreshed. Null if
                          no snapshot exists yet.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  groups:
                    - group:
                        slug: newsletters
                        name: Newsletters
                      totalSubscribers: 21200
                      channels:
                        - channel:
                            slug: the-daily
                            name: The Daily
                            latestLetterTitle: The Thursday Briefing
                          subscribers: 12400
                          netGrowth: 340
                          segments:
                            loyalists:
                              percentage: 42
                              trend: up
                            newAndEngaged:
                              percentage: 18
                              trend: stable
                            casual:
                              percentage: 21
                              trend: down
                            fading:
                              percentage: 12
                              trend: stable
                            ghosts:
                              percentage: 7
                              trend: stable
                          health: growing
                          senderHealth:
                            score: 87
                            severity: healthy
                            trend: stable
                message: Groups metrics retrieved.
                total: 1
  /api/v3/contacts:
    post:
      tags:
        - Contacts
      summary: Create or update a contact
      description: |-
        Creates a company-level contact, or updates the existing contact if one with the same email already exists (an upsert).

        - If no contact with the given `email` exists, a new contact is created and the response is `201 Created`.
        - If a contact with that `email` already exists, its profile is updated with the fields in the request body and the response is `200 OK`.
        - If a `channel` is supplied (see below), an already-existing contact's profile is **not** overwritten — the contact is simply subscribed to that channel.

        ## Custom fields

        Pass a `customFields` object to set values on the contact's custom fields. Each key is the name of a custom field you've defined for your company, and the value is coerced to that field's configured type (text, number, boolean, or date).

        ```json
        {
          "email": "person@example.org",
          "customFields": {
            "favoriteColor": "blue",
            "lifetimeValue": 250
          }
        }
        ```

        Notes:

        - Each key must match a custom field that already exists for your company. Unknown field names are rejected.
        - Keys beginning with `__lh.` are reserved for Letterhead's system-managed fields and cannot be set.
        - `customFields` is optional. Omit it to create a contact without setting any custom field values.

        ## Channel subscription

        Provide a `channel` (a channel slug) to subscribe the contact to that channel at creation time. If a company-level contact with the same email already exists, its existing profile is left untouched and the contact is simply subscribed to the channel. Omit `channel` to create the contact at the company level only.

        ## Source

        The optional `source` records where the contact came from — for example, the name of the integration that created it. It is set once on the contact and is not overwritten by later updates. A create without a `source` is recorded as a hand-entered `manual` contact.
      operationId: createOrUpdateAContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                email:
                  type: string
                  description: The contact's email address. Identifies the contact for the upsert.
                firstName:
                  type: string
                  description: The contact's first name.
                lastName:
                  type: string
                  description: The contact's last name.
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to apply to the contact.
                customFields:
                  type: object
                  properties:
                    favoriteColor:
                      type: string
                    lifetimeValue:
                      type: integer
                  description: Values for your company's custom fields, keyed by field name. See below.
                source:
                  type: string
                  description: Origin label for where the contact came from. Recorded once and never overwritten.
                    Defaults to `manual` when omitted. See below.
              required:
                - email
            example:
              api: true
              email: person@example.org
              firstName: Michael
              lastName: Jones
              tags:
                - amazing-contact
                - engaged
              customFields:
                favoriteColor: blue
                lifetimeValue: 250
              source: website-signup
      responses:
        '200':
          description: Existing contact updated. Same response shape as `201` below, and as `GET
            /api/v3/contacts/{email}`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    description: The updated contact. Full field list under `GET
                      /api/v3/contacts/{email}`.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  email: person@example.org
                  firstName: Michael
                  lastName: Jones
                message: Contact updated.
                total: 1
        '201':
          description: New contact created
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    description: The created or updated contact. Full field list under `GET
                      /api/v3/contacts/{email}`.
                    properties:
                      email:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      customFields:
                        type: object
                      subscriptions:
                        type: array
                        items:
                          type: object
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  email: person@example.org
                  firstName: Michael
                  lastName: Jones
                  tags:
                    - amazing-contact
                    - engaged
                  customFields:
                    favoriteColor: blue
                    lifetimeValue: 250
                  subscriptions: []
                  createdAt: '2026-08-30T15:01:21+00:00'
                  updatedAt: '2026-08-30T15:01:21+00:00'
                message: Contact created.
                total: 1
  /api/v3/contacts/lookup:
    post:
      tags:
        - Contacts
      summary: Look up a contact by an address they hold
      description: |-
        Resolves a company-level contact from an address they hold on another notification medium — currently SMS phone numbers only. Deliberately a `POST` rather than a `GET /contacts/{address}`-style lookup: a phone number in a URL would land in access logs, proxy logs, and browser history.

        The address is normalized the same way it was when the contact registered it, so you can send whatever format you hold — no need to pre-format it yourself.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: lookupAContactByAnAddressTheyHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                medium:
                  type: string
                  description: The notification medium the address belongs to. Currently only `sms`
                    is supported.
                  enum:
                    - sms
                address:
                  type: string
                  description: The address to search for, in whatever format you hold it.
              required:
                - medium
                - address
            example:
              api: true
              medium: sms
              address: '+15555550100'
      responses:
        '200':
          description: 200 OK. Returns the matching contact — same shape as `GET
            /api/v3/contacts/{email}`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    description: The matching contact. Full field list under `GET
                      /api/v3/contacts/{email}`.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  email: avery.chen@example.com
                  firstName: Avery
                  lastName: Chen
                message: Contact retrieved.
                total: 1
  /api/v3/contacts/overlap:
    get:
      tags:
        - Contacts
      summary: Get audience overlap across all newsletters
      description: |-
        Returns a pairwise newsletter-overlap matrix across your company audience. For every pair of your newsletters it reports how many **active subscribers** the two share, and the diagonal carries each newsletter's own active-subscriber total. Counts are deduplicated by email across your audience.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getAudienceOverlapAcrossAllNewsletters
      parameters:
        - name: api
          in: query
          description: Set to `true`.
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      newsletters:
                        type: array
                        items:
                          type: object
                          properties:
                            channel:
                              type: string
                              description: The newsletter's channel identifier (slug).
                            name:
                              type: string
                              description: The newsletter's display name.
                            activeSubscribers:
                              type: integer
                              description: The newsletter's own active-subscriber total.
                        description: One entry per newsletter — the matrix diagonal.
                      overlaps:
                        type: array
                        items:
                          type: object
                          properties:
                            channels:
                              type: array
                              items:
                                type: object
                                properties:
                                  channel:
                                    type: string
                                  name:
                                    type: string
                              description: The two newsletters in the pair, each as `{ channel, name }`.
                            sharedActiveSubscribers:
                              type: integer
                              description: Active subscribers shared by the pair.
                        description: One entry per newsletter pair — the off-diagonal cells.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  newsletters:
                    - channel: the-daily
                      name: The Daily
                      activeSubscribers: 12400
                    - channel: weekend-reads
                      name: Weekend Reads
                      activeSubscribers: 8800
                    - channel: product-updates
                      name: Product Updates
                      activeSubscribers: 5300
                  overlaps:
                    - channels:
                        - channel: the-daily
                          name: The Daily
                        - channel: weekend-reads
                          name: Weekend Reads
                      sharedActiveSubscribers: 3100
                    - channels:
                        - channel: the-daily
                          name: The Daily
                        - channel: product-updates
                          name: Product Updates
                      sharedActiveSubscribers: 1450
                    - channels:
                        - channel: weekend-reads
                          name: Weekend Reads
                        - channel: product-updates
                          name: Product Updates
                      sharedActiveSubscribers: 920
                message: Newsletter overlap matrix
                total: 1
  /api/v3/contacts/overlap/selection:
    get:
      tags:
        - Contacts
      summary: Compare audience overlap for selected newsletters
      description: |-
        Returns a Venn-style overlap breakdown for a chosen set of **2 to 5 newsletters** from your company audience: the total unique reach across the set, each newsletter's own total plus the count exclusive to it, and the shared count for every group of two or more of the selected newsletters. Counts are active subscribers only, deduplicated by email.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: compareAudienceOverlapForSelectedNewsletters
      parameters:
        - name: channels[]
          in: query
          description: Channel identifier (slug) of a newsletter to compare. Repeat the parameter once
            per newsletter — between 2 and 5 in total, and each must be distinct.
          required: true
          schema:
            type: string
        - name: api
          in: query
          description: Set to `true` to receive the JSON API response.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      uniqueReach:
                        type: integer
                        description: Distinct contacts active on at least one newsletter in the set (the
                          deduped union).
                      newsletters:
                        type: array
                        items:
                          type: object
                          properties:
                            channel:
                              type: string
                              description: The newsletter's channel identifier (slug).
                            name:
                              type: string
                              description: The newsletter's display name.
                            activeSubscribers:
                              type: integer
                              description: The newsletter's own active-subscriber total.
                            exclusiveActiveSubscribers:
                              type: integer
                              description: Subscribers active on this newsletter and no other in the set.
                        description: One entry per selected newsletter.
                      groupOverlaps:
                        type: array
                        items:
                          type: object
                          properties:
                            channels:
                              type: array
                              items:
                                type: object
                                properties:
                                  channel:
                                    type: string
                                  name:
                                    type: string
                              description: The newsletters in the overlap region, each as `{ channel,
                                name }`.
                            sharedActiveSubscribers:
                              type: integer
                              description: Subscribers shared across that group.
                        description: One entry per group of 2 or more selected newsletters (the intersection
                          regions).
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  uniqueReach: 18100
                  newsletters:
                    - channel: channel-one
                      name: The Daily
                      activeSubscribers: 12400
                      exclusiveActiveSubscribers: 9300
                    - channel: channel-two
                      name: Weekend Reads
                      activeSubscribers: 8800
                      exclusiveActiveSubscribers: 5700
                  groupOverlaps:
                    - channels:
                        - channel: channel-one
                          name: The Daily
                        - channel: channel-two
                          name: Weekend Reads
                      sharedActiveSubscribers: 3100
                message: Newsletter overlap selection
                total: 1
  /api/v3/contacts/search:
    post:
      tags:
        - Contacts
      summary: Search contacts
      description: |-
        Searches your company-level contacts by keyword, tag, or subscription filters.

        **Request body**

        - `query` — free-text search against the contact's identifying fields.
        - `tags` — restrict to contacts carrying any of these tags.
        - `channel` — a channel slug, or `channelId` (numeric, legacy) — restrict to contacts subscribed on that channel. When both are supplied, `channel` takes precedence.
        - `status` — restrict to subscriptions with this status. Requires `channelId` (or `channel`) to be meaningful.
        - `searchAfter` — the cursor from a previous response's `searchAfter`, to fetch the next page.
        - `pageSize` — results per page (1-100, default 25).
      operationId: searchContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                tags:
                  type: array
                  items:
                    type: string
                query:
                  type: string
                channel:
                  type: string
                  description: A channel slug. Takes precedence over `channelId` when both are supplied.
                channelId:
                  type: integer
                  description: A channel's numeric id (legacy alternative to `channel`).
                status:
                  type: integer
                searchAfter:
                  type: string
                  description: Pagination cursor from a previous response's `searchAfter`.
                pageSize:
                  type: integer
            example:
              api: true
              tags:
                - engaged
              query: you@example.com
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            tags:
                              type: array
                              items:
                                type: string
                            customFields:
                              type: object
                              properties:
                                __lh.engagementRefreshedAt:
                                  type: string
                                __lh.mailboxProvider:
                                  type: string
                                __lh.roleAddress:
                                  type: boolean
                                lastClickDate:
                                  type: string
                                lastOpenDate:
                                  type: string
                            endpoints:
                              type: array
                              items:
                                type: object
                            channelConsents:
                              type: array
                              items:
                                type: object
                            consents:
                              type: array
                              items:
                                type: object
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                            subscriptions:
                              type: array
                              items:
                                type: object
                                properties:
                                  channel:
                                    type: object
                                    properties:
                                      slug:
                                        type: string
                                      name:
                                        type: string
                                  status:
                                    type: integer
                                  createdAt:
                                    type: string
                                  updatedAt:
                                    type: string
                      searchAfter:
                        type: string
                        description: Pass back as the request's `searchAfter` to fetch the next page. Absent on the last page.
                      totalRelation:
                        type: string
                        description: Whether `total` is an exact count or a lower bound (large result sets).
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  contacts:
                    - email: avery.chen@example.com
                      firstName: Avery
                      lastName: Chen
                      tags:
                        - engaged-readers
                        - the-north
                      customFields:
                        __lh.engagementRefreshedAt: '2026-06-18T04:20:28+00:00'
                        __lh.mailboxProvider: gmail
                        __lh.roleAddress: false
                        lastClickDate: '2026-06-17 06:18:18'
                        lastOpenDate: '2026-06-18 05:11:33'
                      endpoints: []
                      channelConsents: []
                      consents: []
                      createdAt: '2026-05-23T11:43:15+00:00'
                      updatedAt: '2026-06-18T09:12:04+00:00'
                      subscriptions:
                        - channel:
                            slug: the-daily
                            name: The Daily
                          status: 1
                          createdAt: '2026-04-30T15:22:41+00:00'
                          updatedAt: '2026-06-12T20:43:14+00:00'
                    - email: jordan.reyes@example.com
                      firstName: Jordan
                      lastName: Reyes
                      tags:
                        - engaged-readers
                      customFields:
                        __lh.engagementRefreshedAt: '2026-06-18T04:20:28+00:00'
                        __lh.mailboxProvider: other
                        __lh.roleAddress: false
                        lastOpenDate: '2026-06-15 11:42:02'
                      endpoints: []
                      channelConsents: []
                      consents: []
                      createdAt: '2026-05-23T11:43:15+00:00'
                      updatedAt: '2026-06-18T09:12:04+00:00'
                      subscriptions: []
                  searchAfter: WzE3NTAyMzQ1NjcwMDBd
                  totalRelation: eq
                message: Contacts retrieved.
                total: 2
  /api/v3/contacts/browse:
    post:
      tags:
        - Contacts
      summary: Browse contacts with filters
      description: |-
        Returns a filtered, paginated page of your company's contacts — the same query the contacts table on your audience page runs. Unlike **Search contacts**, this endpoint accepts a fuller filter set: multiple channels and statuses (OR'd together), tag terms, typed custom-field comparisons, a saved segment to intersect with, and a created-date window. Results are cursor-paginated with `searchAfter`.

        Each returned contact also carries the segments it currently belongs to.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: browseContactsWithFilters
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Free-text search across email, first name, and last name. Max 500 characters.
                channels:
                  type: array
                  items:
                    type: string
                  description: Restrict to contacts subscribed to any of these channel identifiers (slugs).
                statuses:
                  type: array
                  items:
                    type: integer
                  description: Restrict to contacts whose subscription status (on any matched channel)
                    is one of these values. See the subscription status table on **Add or update subscriptions
                    in bulk**.
                tags:
                  type: array
                  items:
                    type: string
                  description: Restrict to contacts carrying any of these tags.
                untagged:
                  type: boolean
                  description: Restrict to contacts with no tags at all. Mutually exclusive with a non-empty
                    `tags`.
                customFields:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: The custom field's name.
                      op:
                        type: string
                        description: '`eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `contains`, or `exists`.'
                      value:
                        description: Comparison value. Omit when `op` is `exists`.
                  description: Typed custom-field comparisons, AND'd together with the rest of the filter.
                segmentId:
                  type: integer
                  description: A saved segment (see **List segments**) whose criteria are AND-merged
                    with the rest of this filter set.
                createdAtFrom:
                  type: string
                  description: Restrict to contacts created on or after this date (inclusive). Date-only
                    (`YYYY-MM-DD`) or a full ISO 8601 timestamp.
                createdAtTo:
                  type: string
                  description: Restrict to contacts created on or before this date (inclusive).
                sort:
                  type: string
                  description: '`name`, `email`, `status`, or `dateAdded`. Defaults to `dateAdded`.'
                direction:
                  type: string
                  description: '`asc` or `desc`. Defaults to `desc`.'
                pageSize:
                  type: integer
                  description: Page size, 1–100. Defaults to 25.
                searchAfter:
                  type: string
                  nullable: true
                  description: Opaque cursor from the previous page's `searchAfter`. Omit or send `null`
                    for the first page.
                channel:
                  type: string
                  description: Narrow the browse to a single channel identifier (slug) — the shape the
                    channel-level audience page uses.
                emails:
                  type: array
                  items:
                    type: string
                  description: Optional explicit email allow-list, AND'd into the query. Up to 10,000
                    entries.
                contactKeys:
                  type: array
                  items:
                    type: string
                  description: Optional explicit contact-key allow-list — the email-less counterpart
                    to `emails`, so an endpoint-anchored (phone-only) contact can be in a hand-picked
                    selection. Each entry is the contact's opaque 64-character hex key. Up to 10,000
                    entries.
                hasEmail:
                  type: boolean
                  description: Restrict to contacts that do (`true`) or don't (`false`) have an email
                    address. `hasEmail=false` is the email-less (endpoint-anchored) cohort — for example
                    a phone-only contact. Omit for no constraint.
                hasPhone:
                  type: boolean
                  description: Restrict to contacts that do (`true`) or don't (`false`) have an active
                    messaging endpoint (for example a verified phone number). `hasPhone=true` combined
                    with `hasEmail=false` is the SMS-only cohort. Omit for no constraint.
            example:
              tags:
                - engaged-readers
              statuses:
                - 1
              pageSize: 25
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            tags:
                              type: array
                              items:
                                type: string
                            customFields:
                              type: object
                            endpoints:
                              type: array
                              items:
                                type: object
                            channelConsents:
                              type: array
                              items:
                                type: object
                            consents:
                              type: array
                              items:
                                type: object
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                            segments:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                              description: The segments this contact currently belongs to.
                        description: The matched contacts for this page.
                      searchAfter:
                        type: string
                        nullable: true
                        description: Opaque cursor for the next page — pass it back as `searchAfter`.
                      totalRelation:
                        type: string
                        description: Whether the top-level total is exact (`eq`) or a lower bound (`gte`).
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  contacts:
                    - email: avery.chen@example.com
                      firstName: Avery
                      lastName: Chen
                      tags:
                        - engaged-readers
                      customFields:
                        __lh.mailboxProvider: gmail
                        lastOpenDate: '2026-06-18 05:11:33'
                      endpoints: []
                      channelConsents: []
                      consents: []
                      createdAt: '2026-05-23T11:43:15+00:00'
                      updatedAt: '2026-06-18T09:12:04+00:00'
                      segments:
                        - id: 7
                          name: Highly engaged readers
                  searchAfter: WzE3MTg3NTUxOTUwMDAsImF2ZXJ5LmNoZW5AZXhhbXBsZS5jb20iXQ==
                  totalRelation: eq
                message: Contacts retrieved.
                total: 842
  /api/v3/contacts/tags:
    post:
      tags:
        - Contacts
      summary: Create a tag
      description: |-
        Creates a new tag for your company audience, with an optional display color. Once created, apply the tag to contacts with **Update a contact**, **Apply tags to matching**, or **Apply a tag to matching contacts**.

        This is a company-level (v3) write. Authenticate with a company API key as a Bearer token.
      operationId: createATag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                name:
                  type: string
                  description: Letters, numbers, hyphens, underscores, and spaces only.
                color:
                  type: string
                  description: A hex color, e.g. `#4287f5`.
              required:
                - name
                - color
            example:
              api: true
              name: engaged-readers
              color: '#4287f5'
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      color:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  id: 7
                  name: engaged-readers
                  color: '#4287f5'
                  createdAt: '2026-08-30T15:01:21+00:00'
                  updatedAt: '2026-08-30T15:01:21+00:00'
                message: Tag created.
                total: 1
    get:
      tags:
        - Contacts
      summary: List tags
      description: |-
        Returns a paginated, searchable list of your company's tags, each with its audience-member count.

        **Query parameters**

        - `page` (default `1`), `limit` (default `500`, max `500`).
        - `search` — filter by tag name.
        - `sort` — `name` (default) or `audienceMembers`.
        - `direction` — `asc` (default) or `desc`.
      operationId: listTags
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - name
              - audienceMembers
        - name: direction
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        color:
                          type: string
                        audienceMembers:
                          type: integer
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                  message:
                    type: string
                  total:
                    type: integer
                    description: Total matching tags, for pagination — pair with `page`/`limit`.
              example:
                items:
                  - id: 7
                    name: engaged-readers
                    color: '#4287f5'
                    audienceMembers: 1204
                    createdAt: '2026-04-30T15:01:21+00:00'
                    updatedAt: '2026-08-12T09:14:02+00:00'
                message: Tags retrieved.
                total: 1
  /api/v3/contacts/tags/{tagId}:
    get:
      tags:
        - Contacts
      summary: Get a tag
      description: |-
        Returns a single tag by its id, with its name and display color.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getATag
      parameters:
        - name: api
          in: query
          description: Required. Set to `true` to authenticate with an API key.
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      color:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  id: 7
                  name: engaged-readers
                  color: '#4287f5'
                  createdAt: '2026-04-30T15:01:21+00:00'
                  updatedAt: '2026-08-12T09:14:02+00:00'
                message: Tag retrieved.
                total: 1
    put:
      tags:
        - Contacts
      summary: Update a tag
      description: |-
        Renames a tag and/or changes its display color. This changes the tag itself for every contact that carries it — it does not add or remove the tag from any contact.

        This is a company-level (v3) write. Authenticate with a company API key as a Bearer token.
      operationId: updateATag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                name:
                  type: string
                color:
                  type: string
            example:
              api: true
              name: highly-engaged-readers
      responses:
        '200':
          description: Tag updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      color:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  id: 7
                  name: highly-engaged-readers
                  color: '#4287f5'
                  createdAt: '2026-04-30T15:01:21+00:00'
                  updatedAt: '2026-08-30T15:01:21+00:00'
                message: Tag updated.
                total: 1
    delete:
      tags:
        - Contacts
      summary: Delete a tag
      description: |-
        Deletes a tag from your company audience and removes it from every contact that carries it. This cannot be undone.

        This is a company-level (v3) write. Authenticate with a company API key as a Bearer token.
      operationId: deleteATag
      parameters:
        - name: api
          in: query
          description: Required. Set to `true` to authenticate with an API key.
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Tag deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: {}
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items: []
                message: Tag deleted.
                total: 0
    parameters:
      - name: tagId
        in: path
        required: true
        description: The tag's numeric identifier.
        schema:
          type: integer
  /api/v3/contacts/tags/{tagId}/apply:
    post:
      tags:
        - Contacts
      summary: Apply a tag to matching contacts
      description: |-
        Applies the tag to every contact matching the supplied filter — the same filter shape as **Search contacts** (`query`, `tags`, `channelId`, `status`). Omit all filters to apply the tag to your entire audience.
      operationId: applyATagToMatchingContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                query:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                channelId:
                  type: integer
                status:
                  type: integer
            example:
              api: true
              channelId: 42
              status: 1
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      matched:
                        type: integer
                        description: Contacts matching the filter.
                      updated:
                        type: integer
                        description: Contacts the tag was actually added to (matched minus contacts
                          that already carried it).
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  matched: 1204
                  updated: 980
                message: Tag applied.
                total: 1
    parameters:
      - name: tagId
        in: path
        required: true
        description: The tag's numeric identifier.
        schema:
          type: integer
  /api/v3/contacts/tags/{tagId}/strip:
    post:
      tags:
        - Contacts
      summary: Remove a tag from matching contacts
      description: |-
        Removes the tag from every contact matching the supplied filter — the same filter shape as **Apply a tag to matching contacts**.
      operationId: stripATagFromMatchingContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                query:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                channelId:
                  type: integer
                status:
                  type: integer
            example:
              api: true
              channelId: 42
              status: 1
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      matched:
                        type: integer
                        description: Contacts matching the filter.
                      updated:
                        type: integer
                        description: Contacts the tag was actually removed from (matched minus
                          contacts that didn't carry it).
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  matched: 1204
                  updated: 640
                message: Tag stripped.
                total: 1
    parameters:
      - name: tagId
        in: path
        required: true
        description: The tag's numeric identifier.
        schema:
          type: integer
  /api/v3/contacts/tags/{tag}/members:
    post:
      tags:
        - Contacts
      summary: Tag contacts by email
      description: |-
        Add a tag to an explicit list of contacts by email address — for example, everyone who opened or clicked a specific newsletter.

        **Path parameters**

        - `tag` — the tag's **name** (not its numeric id).

        **Body**

        - `emails` (required) — a list of 1 to 10,000 email addresses to tag.
        - `channel` (optional) — a channel slug to scope the tag-added event to, when the cohort came from one newsletter's activity.

        Available to organizations with company-level audience sending enabled.
      operationId: tagContactsByEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                emails:
                  type: array
                  items:
                    type: string
                channel:
                  type: string
              required:
                - api
                - emails
            example:
              api: true
              emails:
                - person@example.org
                - another.person@example.org
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      matched:
                        type: integer
                        description: Emails matching an existing contact.
                      updated:
                        type: integer
                        description: Contacts the tag was actually added to.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  matched: 2
                  updated: 2
                message: Tag applied.
                total: 1
    delete:
      tags:
        - Contacts
      summary: Remove a tag from contacts by email
      description: |-
        Remove a tag from an explicit list of contacts by email address — the counterpart to **Tag contacts by email**.

        **Path parameters**

        - `tag` — the tag's **name** (not its numeric id).

        **Body**

        - `emails` (required) — a list of 1 to 10,000 email addresses to untag.

        Available to organizations with company-level audience sending enabled.
      operationId: removeATagFromContactsByEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                emails:
                  type: array
                  items:
                    type: string
              required:
                - api
                - emails
            example:
              api: true
              emails:
                - person@example.org
                - another.person@example.org
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      matched:
                        type: integer
                        description: Emails matching an existing contact.
                      updated:
                        type: integer
                        description: Contacts the tag was actually removed from.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  matched: 2
                  updated: 2
                message: Tag stripped.
                total: 1
    parameters:
      - name: tag
        in: path
        required: true
        description: The tag's name (letters, numbers, hyphens, underscores).
        schema:
          type: string
  /api/v3/contacts/tags/matching:
    post:
      tags:
        - Contacts
      summary: Apply tags to contacts matching a filter snapshot
      description: |-
        Bulk-applies one or more tags to every contact matching a browse-filter snapshot — the same filter shape **Search contacts** and **List/browse contacts** accept (`query`, `channels`, `statuses`, `tags`, `untagged`, `customFields`, `segmentId`, a created-date window, `hasEmail`/`hasPhone` presence filters, plus an optional `emails`/`contactKeys` allow-list to target a hand-picked subset instead of a full-scan match). Any filter shape is accepted, including no filters at all — which targets your entire audience — so build the request from whichever narrowing fields you need.
      operationId: applyTagsToContactsMatchingAFilterSnapshot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
                tagsToApply:
                  type: array
                  items:
                    type: string
                  description: 1 or more tag names to apply.
                query:
                  type: string
                channels:
                  type: array
                  items:
                    type: integer
                statuses:
                  type: array
                  items:
                    type: integer
                tags:
                  type: array
                  items:
                    type: string
                  description: Filter to contacts already carrying these tags (not to be confused
                    with `tagsToApply`).
                untagged:
                  type: boolean
                emails:
                  type: array
                  items:
                    type: string
                  description: Optional allow-list — when present, only these emails (still narrowed
                    by any other filters) are tagged.
                contactKeys:
                  type: array
                  items:
                    type: string
                  description: Optional contact-key allow-list — the email-less counterpart to `emails`,
                    for the same "selected rows" path, carrying opaque 64-character hex contact keys
                    so an endpoint-anchored (phone-only) contact can be in a hand-picked selection.
                    Unions with `emails`.
                hasEmail:
                  type: boolean
                  description: Restrict the match to contacts that do (`true`) or don't (`false`) have
                    an email address. Omit for no constraint.
                hasPhone:
                  type: boolean
                  description: Restrict the match to contacts that do (`true`) or don't (`false`) have
                    an active messaging endpoint. `hasPhone=true` combined with `hasEmail=false` is the
                    SMS-only cohort. Omit for no constraint.
              required:
                - api
                - tagsToApply
            example:
              api: true
              tagsToApply:
                - engaged-readers
              query: newsletter fan
              statuses:
                - 1
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      matched:
                        type: integer
                        description: Contacts matching the filter.
                      updated:
                        type: integer
                        description: Contacts the tags were actually added to.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  matched: 340
                  updated: 312
                message: Tags applied to matching contacts.
                total: 312
  /api/v3/contacts/{email}:
    get:
      tags:
        - Contacts
      summary: Get a contact
      description: |-
        Returns a single company-level contact's full profile — name, tags, custom fields, notification endpoints and consents, subscriptions, and the segments they currently belong to.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.

        ## Channel-scoped reads

        Pass `channel` (a channel slug) to narrow the response to one newsletter: `segments` lists only
        the segments available on that channel instead of every segment in the company, and the request
        returns `404` if the contact has no subscription on the named channel. `channel` also returns
        `404` if the slug doesn't match any channel in your company, or `403` if it names a channel
        another company owns. Omit `channel` for the company-wide view, which always returns the contact
        if they exist.
      operationId: getAContact
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
        - name: channel
          in: query
          description: Narrow the response to a single newsletter, by channel slug. Returns `404` if the
            contact has no subscription on that channel, if the slug doesn't match a channel in your
            company, or `403` if it names another company's channel. Omit for the company-wide view.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      customFields:
                        type: object
                        properties:
                          __lh.engagementRefreshedAt:
                            type: string
                          __lh.mailboxProvider:
                            type: string
                          __lh.roleAddress:
                            type: boolean
                          referralSource:
                            type: string
                          lastOpenDate:
                            type: string
                          optInTime:
                            type: string
                      endpoints:
                        type: array
                        items:
                          type: object
                      channelConsents:
                        type: array
                        items:
                          type: object
                      consents:
                        type: array
                        items:
                          type: object
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                      subscriptions:
                        type: array
                        items:
                          type: object
                          properties:
                            channel:
                              type: object
                              properties:
                                slug:
                                  type: string
                                name:
                                  type: string
                            status:
                              type: integer
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                      segments:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  email: avery.chen@example.com
                  firstName: Avery
                  lastName: Chen
                  tags:
                    - the-north
                    - engaged-readers
                  customFields:
                    __lh.engagementRefreshedAt: '2026-06-14T04:20:28+00:00'
                    __lh.mailboxProvider: gmail
                    __lh.roleAddress: false
                    referralSource: Embedded subscription box
                    lastOpenDate: '2026-06-12 12:06:53'
                    optInTime: '2026-04-30 03:30:30'
                  endpoints: []
                  channelConsents: []
                  consents: []
                  createdAt: '2026-04-30T15:01:21+00:00'
                  updatedAt: '2026-06-13T13:05:04+00:00'
                  subscriptions:
                    - channel:
                        slug: the-daily
                        name: The Daily
                      status: 1
                      createdAt: '2026-04-30T15:22:41+00:00'
                      updatedAt: '2026-06-12T20:43:14+00:00'
                    - channel:
                        slug: weekend-reads
                        name: Weekend Reads
                      status: 1
                      createdAt: '2026-05-30T16:14:45+00:00'
                      updatedAt: '2026-05-30T16:14:45+00:00'
                  segments:
                    - id: 1
                      name: Highly engaged readers
                message: Contact retrieved.
                total: 1
        '404':
          description: Either the contact has no subscription on the channel named by `channel`, or
            the slug doesn't match a channel in your company.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                  message:
                    type: string
                  total:
                    type: integer
    parameters:
      - name: email
        in: path
        required: true
        description: The contact's email address, URL-encoded.
        schema:
          type: string
    put:
      tags:
        - Contacts
      summary: Update a contact
      description: |-
        Updates an existing company-level contact's profile. The contact is identified by the `{email}` in the URL, so `email` is not part of the request body.

        If you don't yet know whether the contact exists, use **Create or update a contact** (`POST /api/v3/contacts`) instead — that endpoint upserts. This endpoint targets a contact that already exists.

        ## Custom fields

        Pass a `customFields` object to set values on the contact's custom fields. Each key is the name of a custom field you've defined for your company, and the value is coerced to that field's configured type (text, number, boolean, or date).

        ```json
        {
          "customFields": {
            "favoriteColor": "blue",
            "lifetimeValue": 250
          }
        }
        ```

        Notes:

        - Each key must match a custom field that already exists for your company. Unknown field names are rejected.
        - Keys beginning with `__lh.` are reserved for Letterhead's system-managed fields and cannot be set.
      operationId: updateAContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: The contact's first name.
                lastName:
                  type: string
                  description: The contact's last name.
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to set on the contact.
                customFields:
                  type: object
                  properties:
                    favoriteColor:
                      type: string
                    lifetimeValue:
                      type: integer
                  description: Values for your company's custom fields, keyed by field name. See below.
                channel:
                  type: string
                  description: A channel slug. Scopes the tag-change trigger for tags this update adds; omit for a company-wide edit.
            example:
              firstName: Avery
              lastName: Chen
              tags:
                - engaged-readers
                - the-north
              customFields:
                favoriteColor: blue
                lifetimeValue: 250
      responses:
        '200':
          description: 200 OK. Returns the updated contact — same shape as `GET
            /api/v3/contacts/{email}`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    description: The updated contact. Full field list under `GET
                      /api/v3/contacts/{email}`.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  email: avery.chen@example.com
                  firstName: Avery
                  lastName: Chen
                  tags:
                    - engaged-readers
                    - the-north
                  customFields:
                    favoriteColor: blue
                    lifetimeValue: 250
                  updatedAt: '2026-08-30T15:01:21+00:00'
                message: Contact updated.
                total: 1
    delete:
      tags:
        - Contacts
      summary: Delete a contact
      description: |-
        Deletes a company-level contact and every subscription, tag, custom field value, and consent record attached to it. This cannot be undone.

        This is a company-level (v3) write. Authenticate with a company API key as a Bearer token.
      operationId: deleteAContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api:
                  type: boolean
                  description: Required. Set to `true` to authenticate with an API key.
              required:
                - api
            example:
              api: true
      responses:
        '200':
          description: Contact deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: {}
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items: []
                message: Contact deleted.
                total: 0
  /api/v3/contacts/{email}/activity:
    get:
      tags:
        - Contacts
      summary: Get a contact's activity
      description: |-
        Returns one page of a contact's engagement events across your company's newsletters — deliveries, opens, clicks, bounces, and purchases — newest first by default. Each entry names the newsletter the event happened on and, for clicks, the URL that was clicked.

        Use this when you want the event-by-event history. For the rolled-up counters and rates, use **Get a contact's engagement breakdown**. For just the single most recent event timestamp, use **Get a contact's last activity**.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.

        ## Error responses

        A parameter outside its allowed range returns `400`. Validation messages are returned in `data`, not in `items`.
      operationId: getAContactActivity
      parameters:
        - name: api
          in: query
          description: Set to `true`.
          required: true
          schema:
            type: boolean
        - name: eventType[]
          in: query
          description: Repeatable. Return only these event types. One or more of `delivery`, `open`, `click`,
            `bounce`, `purchase`. Omit to return all five.
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Free-text filter across the event's newsletter title and link URL. Max 255 characters.
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: 1-based page number. Minimum 1. Defaults to 1.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Events per page. Minimum 1, maximum 100. Defaults to 50.
          required: false
          schema:
            type: integer
        - name: direction
          in: query
          description: 'Sort order on the event timestamp: `desc` (newest first, the default) or `asc`.'
          required: false
          schema:
            type: string
        - name: channel
          in: query
          description: Narrow the feed to a single newsletter by its channel slug. Returns `404` if
            the slug doesn't match a channel in your company, or `403` if it names another company's
            channel. Omit for every newsletter in the company.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 'The event type: `delivery`, `open`, `click`, `bounce`, or
                                `purchase`.'
                            occurredAt:
                              type: string
                              description: When the event happened, ISO 8601 in UTC.
                            campaignId:
                              type: string
                              description: Identifier of the newsletter send the event belongs to. A 10-character
                                alphanumeric string, such as `ruf4e0ifs9`.
                            letterTitle:
                              type: string
                              description: Title of the newsletter that produced the event.
                            linkUrl:
                              type: string
                              description: For `click` events, the URL that was clicked. Null otherwise.
                            channelName:
                              type: string
                              description: Display name of the newsletter's channel. Null for company-level
                                sends, which are not tied to a single channel.
                            channel:
                              type: string
                              description: Slug of the newsletter's channel. Null for company-level sends.
                            bounceType:
                              type: string
                              nullable: true
                              description: For `bounce` events, the bounce classification (for example
                                `hard`, `soft`, `admin`, `block`). Null otherwise.
                            bounceReason:
                              type: string
                              nullable: true
                              description: For `bounce` events, the human-readable reason, with internal
                                ESP details removed. Null otherwise.
                            purchaseAmount:
                              type: string
                              nullable: true
                              description: For `purchase` events, the amount. Null otherwise.
                            purchaseCurrency:
                              type: string
                              nullable: true
                              description: For `purchase` events, the ISO currency code. Null otherwise.
                            purchaseSource:
                              type: string
                              nullable: true
                              description: For `purchase` events, where the purchase was recorded. Null
                                otherwise.
                            purchaseProductName:
                              type: string
                              nullable: true
                              description: For `purchase` events, the product purchased. Null otherwise.
                            isPromotion:
                              type: boolean
                              description: True when the event is attributed to a promotion rather than
                                editorial content.
                            ipAddress:
                              type: string
                      page:
                        type: integer
                      limit:
                        type: integer
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  entries:
                    - type: click
                      occurredAt: '2026-08-14T14:22:07+00:00'
                      campaignId: 9f1c0925-3f0e-59b5-b26a-62e952f17f57
                      letterTitle: The Thursday Briefing
                      linkUrl: https://example.com/city-council-votes-on-transit-plan
                      channelName: Daily Digest
                      channel: daily-digest
                      bounceType: null
                      bounceReason: null
                      purchaseAmount: null
                      purchaseCurrency: null
                      purchaseSource: null
                      purchaseProductName: null
                      isPromotion: false
                      ipAddress: 203.0.113.42
                    - type: open
                      occurredAt: '2026-08-14T14:21:35+00:00'
                      campaignId: 9f1c0925-3f0e-59b5-b26a-62e952f17f57
                      letterTitle: The Thursday Briefing
                      linkUrl: null
                      channelName: Daily Digest
                      channel: daily-digest
                      bounceType: null
                      bounceReason: null
                      purchaseAmount: null
                      purchaseCurrency: null
                      purchaseSource: null
                      purchaseProductName: null
                      isPromotion: false
                      ipAddress: 203.0.113.42
                    - type: delivery
                      occurredAt: '2026-08-14T11:00:04+00:00'
                      campaignId: 9f1c0925-3f0e-59b5-b26a-62e952f17f57
                      letterTitle: The Thursday Briefing
                      linkUrl: null
                      channelName: Daily Digest
                      channel: daily-digest
                      bounceType: null
                      bounceReason: null
                      purchaseAmount: null
                      purchaseCurrency: null
                      purchaseSource: null
                      purchaseProductName: null
                      isPromotion: false
                      ipAddress: null
                    - type: bounce
                      occurredAt: '2026-08-07T11:00:11+00:00'
                      campaignId: 5d7ca091-9ee8-ca65-3737-c3a7be269f95
                      letterTitle: The Thursday Briefing
                      linkUrl: null
                      channelName: Daily Digest
                      channel: daily-digest
                      bounceType: soft
                      bounceReason: Mailbox full
                      purchaseAmount: null
                      purchaseCurrency: null
                      purchaseSource: null
                      purchaseProductName: null
                      isPromotion: false
                      ipAddress: null
                  page: 1
                  limit: 50
                message: Activity retrieved.
                total: 218
        '400':
          description: 400 Validation Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  items:
                    type: array
                    items:
                      type: object
                  message:
                    type: string
                  total:
                    type: integer
              example:
                data:
                  - The limit may not be greater than 100.
                items: []
                message: Looks like the input data doesn't meet our requirements.
                total: 0
    parameters:
      - name: email
        in: path
        description: The contact's email address.
        required: true
        schema:
          type: string
  /api/v3/contacts/{email}/engagement:
    get:
      tags:
        - Contacts
      summary: Get a contact's engagement breakdown
      description: |-
        Returns a contact's lifetime engagement rolled up into counters and rates — how many newsletters reached them, how many they opened and clicked, their bounce history, and how often they clicked a promotion.

        This is the summary counterpart to **Get a contact's activity**, which returns the individual events these numbers are derived from.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getAContactEngagementBreakdown
      parameters:
        - name: api
          in: query
          description: Set to true.
          required: true
          schema:
            type: boolean
        - name: channel
          in: query
          description: Roll up only the contact's activity on a single newsletter, by channel slug. Returns
            `404` if the slug doesn't match a channel in your company, or `403` if it names another
            company's channel. Omit for every newsletter in the company.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      delivered:
                        type: integer
                        description: Newsletters successfully delivered to the contact.
                      uniqueOpens:
                        type: integer
                        description: Newsletters the contact opened at least once.
                      uniqueClicks:
                        type: integer
                        description: Newsletters in which the contact clicked at least one link.
                      openRate:
                        type: number
                        description: '`uniqueOpens` as a percentage of `delivered`.'
                      clickRate:
                        type: number
                        description: '`uniqueClicks` as a percentage of `delivered`.'
                      clickToOpenRate:
                        type: number
                        description: '`uniqueClicks` as a percentage of `uniqueOpens`.'
                      softBounces:
                        type: integer
                        description: Soft bounces recorded for the contact — temporary failures such as
                          a full mailbox.
                      hardBounces:
                        type: integer
                        description: Hard bounces recorded for the contact — permanent failures such as
                          an invalid address.
                      promotionClicks:
                        type: integer
                        description: Clicks the contact made on promotions, as opposed to editorial links.
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  delivered: 184
                  uniqueOpens: 121
                  uniqueClicks: 37
                  openRate: 65.8
                  clickRate: 20.1
                  clickToOpenRate: 30.6
                  softBounces: 2
                  hardBounces: 0
                  promotionClicks: 4
                message: Engagement breakdown retrieved.
                total: 1
    parameters:
      - name: email
        in: path
        description: The contact's email address.
        required: true
        schema:
          type: string
  /api/v3/contacts/{email}/last-active:
    get:
      tags:
        - Contacts
      summary: Get a contact's last activity
      description: |-
        Returns just the single most recent engagement event for a contact — its type (`delivery`, `open`, `click`, `bounce`, or `purchase`) and when it happened. For the full event-by-event history, use **Get a contact's activity**; for rolled-up counters and rates, use **Get a contact's engagement breakdown**.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getAContactLastActivity
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
        - name: channel
          in: query
          description: Narrow to the contact's most recent event on a single newsletter, by channel
            slug. Returns `404` if the slug doesn't match a channel in your company, or `403` if it
            names another company's channel. Omit for the most recent event across every newsletter
            in the company.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      occurredAt:
                        type: string
                  message:
                    type: string
                  total:
                    type: integer
              example:
                items:
                  label: open
                  occurredAt: '2026-06-16T19:00:37+00:00'
                message: Last active retrieved.
                total: 1
    parameters:
      - name: email
        in: path
        required: true
        description: The contact's email address, URL-encoded.
        schema:
          type: string
  /api/v3/contacts/{email}/suppressions:
    get:
      tags:
        - Contacts
      summary: Get a contact's suppressions
      description: |-
        Returns every channel the contact can no longer be mailed on — because they unsubscribed or their address was cleaned after bouncing — with the reason and, where available, the bounce evidence behind it.

        This is a company-level (v3) read. Authenticate with a company API key as a Bearer token.
      operationId: getAContactSuppressions
      parameters:
        - name: api
          in: query
          description: Required. Set to `true`.
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        channel:
                          type: object
                          nullable: true
                          properties:
                            slug:
[...]
